# SPDX-License-Identifier: Apache-2.0
# Copyright Authors of Tetragon

[Unit]
Description=Tetragon eBPF-based Security Observability and Runtime Enforcement
DefaultDependencies=no
After=network.target local-fs.target
Documentation=https://tetragon.io/

# Do not restart the service anymore if it was started more than
# 10 times withing a 2 minutes interval.
# This allows to cover restart on failures but also gives users
# the possibility to manually restart the service within those
# limits.
# On failures, users can do "systemctl reset-failed tetragon" to
# flush the counters and allow the service to start again.

# Burst times withing the interval
StartLimitBurst=10
# The interval where starting the service again is not allowed anymore.
StartLimitIntervalSec=2min

[Service]
Environment="PATH=/usr/local/lib/tetragon/:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
User=root
Group=root
ExecStart=/usr/local/bin/tetragon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
