verbose = "info"

exclude = [
  # this application is down from time to time
  'slack.cilium.io',
  # the relative link in README is implicit,
  # see https://github.blog/2013-01-31-relative-links-in-markup-files/
  'docs/assets/icons/logo.*\.svg', 
  # the virtualbox website sends 500 regularly
  'virtualbox.org',
  # this is for the documentation contributor guide
  '^http://localhost:1313/docs$',
  # this is a form POST link in the index.html
  '^https://formspree.io/f/xbjnwnjb$',
  # this a parsing error from index.html, it uses the {{< latest-version >}}
  # shortcode which is not detected
  '^https://github.com/cilium/tetragon/releases/download/$',
]
