/bin
lib/*
/tetragon
/tetragon-alignchecker
/tetra
/parsertest
/checkerpc
observer.test
go-tests
fgs-bench-rootfs*
ksrc
kbuild
latest.json
cscope.files
cscope.po.out
cscope.out
cscope.in.out
strange.txt
