# helm chart
/install/kubernetes/tetragon/README.md linguist-generated

# api
/api/v1/README.md linguist-generated

# docs
/docs/content/en/docs/reference/helm-chart.md linguist-generated
/docs/content/en/docs/reference/grpc-api.md linguist-generated
/docs/content/en/docs/reference/metrics.md linguist-generated
/docs/data/tetragon_flags.yaml linguist-generated
