/bin
lib/*
/tetragon
/tetragon.exe
/alignchecker
/tetragon-bench
/tetragon-operator
/tetra
/tetragon-oci-hook
/tetragon-oci-hook-setup
/tetragon-metrics-docs
/parsertest
/checkerpc
observer.test
go-tests
fgs-bench-rootfs*
ksrc
kbuild
latest.json
strange.txt
compile_commands.json
/release

# project tool artifacts
.vagrant/
.idea
.vscode
cscope.files
cscope.po.out
cscope.out
cscope.in.out
.hugo_build.lock

# macOS artifacts
.DS_Store
