/bin
lib/*
/tetragon
/tetragon-alignchecker
/tetragon-bench
/tetragon-operator
/tetra
/parsertest
/checkerpc
observer.test
go-tests
fgs-bench-rootfs*
ksrc
kbuild
latest.json
strange.txt
compile_commands.json
contrib/tester-progs/sigkill-unprivileged-user-ns-tester
/release

# project tool artifacts
.vagrant/
.vscode
cscope.files
cscope.po.out
cscope.out
cscope.in.out

# macOS artifacts
.DS_Store
