$google_font_name: "Noto Sans";
$google_font_family: "Noto+Sans:400,600,700";

$font-family-monospace: "IBM Plex Mono", monospace !default;

$dark: #FAFAFA;
$table-border-color: #E5E7E7;
$table-cell-padding: 10px 20px !default;
