.td-community-banner {
  font-size: 14px;
  text-align: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    color: #253737;
    background-color: #E2F7F7;
    border-bottom: 1px solid #42D7D74F;

    &:hover,
    &:focus-visible {
      background-color: #B0EDED80;
    }

    @media screen and (max-width: 767px) {
      font-size: 12px;
      padding: 6px 12px;
    }
  }

  svg {
    flex-shrink: 0;
  }
}

.td-community-banner__text {
  max-width: calc(100% - 18px);
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.td-community-banner__main-text {
  margin-left: 14px;
  margin-right: 4px;
  padding-left: 14px;
  font-weight: 700;
  letter-spacing: -0.28px;
  border-left: 1px solid #253737A6;

  a:hover &,
  a:focus-visible & {
    color: #5C6D70;
  }

  @media screen and (max-width: 767px) {
    margin-left: 6px;
    padding-left: 6px;
  }
}
