.td-home header {
  position: sticky;
  top: 0;
  z-index: 32;
}

.td-navbar {
  height: 64px;
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #E5E7E7;

  .td-home & {
    position: static;
    font-family: "Manrope", sans-serif;
    background-color: #f7fdfd;
    border-bottom-color: #f7fdfd;

    .container-fluid {
      max-width: 1254px;
    }
  }

  @media screen and (max-width: 991.98px) {
    .td-navbar-nav-scroll {
      height: auto;
    }
    .navbar-nav {
      padding-bottom: 0;
      overflow: hidden;
    }
  }

  @media screen and (max-width: 767px) {
    height: auto;
    padding: 8px 0;

    .td-navbar-nav-scroll {
      width: 100%;
      height: auto;

      .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        column-gap: 12px;
        overflow-x: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  .navbar-brand svg {
    height: 48px;

    @media screen and (max-width: 767px) {
      height: 36px;
    }
  }

  .navbar-brand__name {
    display: none;
  }

  .navbar-nav {
    .nav-item:last-of-type {
      .nav-link {
        margin-left: 22px;
        @media screen and (max-width: 991.98px) {
          margin-left: 0;
        }
        padding: 12px 16px;
        font-weight: 800;
        border: 1px solid #253737;
        border-radius: 30px;
      }
    }

    .nav-link {
      padding: 12px 12px;
      color: #253737;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;

      &:hover,
      &:focus {
        color: #5C6D70;
        border-color: #5C6D70;
      }

      @media screen and (max-width: 767px) {
        font-size: 14px;
        padding: 14px 2px;
      }
    }
  }

  .td-search {
    display: none;
  }
}
