@import url("https://fonts.googleapis.com/css?family=Manrope:400,500,600,700&display=swap");

@import "home/title";
@import "home/hero";
@import "home/features";
@import "home/cta-banner";
@import "home/diagram";
@import "home/cards";
@import "home/updates";
@import "home/tools";
@import "home/tabs";
@import "home/videos";
@import "home/share";
@import "home/contact";
@import "home/presentation";

.home {
  // dirty hack that should be changed if we change the size of the navbar
  margin-top: 64px;

  margin-left: auto;
  margin-right: auto;
  max-width: 1216px;
  font-size: 16px;
  line-height: 1.375;
  font-family: "Manrope", sans-serif;

  @media (max-width: $desktop) {
    padding: 0 28px;
    font-size: 15px;
  }

  @media (max-width: $tablet) {
    padding: 0 16px;
  }

  @media (max-width: $mobile) {
    max-width: 520px;
    margin: 0 auto;
    padding: 0 4px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1216px;

    @media (max-width: $desktop) {
      padding: 0 40px;
    }

    @media (max-width: $tablet) {
      padding: 0 28px;
    }

    @media (max-width: $mobile) {
      padding: 0 16px;
    }
  }

  ul {
    padding-inline-start: 0;
    list-style: none;
  }
}

