apiVersion: cilium.io/v1alpha1
kind: TracingPolicy
metadata:
  name: "fd-install"
spec:
  kprobes:
  - call: "security_file_permission"
    syscall: false
    args:
    - index: 0
      type: "file"
    - index: 1
      type: "int"
    selectors:
    - matchPIDs:
      - operator: In
        followForks: true
        isNamespacePID: {{.NamespacePID}}
        values:
        - {{.MatchedPID}}
      matchNamespaceChanges:
      - operator: In
        values:
        - "Mnt"
      matchArgs:
      - index: 0
        operator: "Postfix"
        values:
        - "strange.txt"
      - index: 1
        operator: "Equal"
        values:
        - "2" # MAY_WRITE