# test for the sigkill action
apiVersion: cilium.io/v1alpha1
kind: TracingPolicy
metadata:
  name: "kill-unprivileged-user-namespace-in-pid-namespace"
spec:
  kprobes:
  - call: "create_user_ns"
    syscall: false
    args:
    - index: 0
      type: "nop"
    selectors:
      - matchPids:
        - operator: In
          values:
          - {{.MatchedPID}}
          isNamespacePID: false
          followForks: true
        matchNamespaces:
        - namespace: Pid
          operator: NotIn
          values:
          - "host_ns"
        matchCapabilities:
          - type: Effective
            operator: NotIn
            isNamespaceCapability: false
            values:
            - "CAP_SYS_ADMIN"
        matchActions:
        - action: Sigkill
