# test for the sigkill action
apiVersion: cilium.io/v1alpha1
kind: TracingPolicy
metadata:
  name: "sigkilltest"
spec:
  kprobes:
  - call: "sys_lseek"
    syscall: true
    args:
    - index: 2
      type: int
    selectors:
    - matchPIDs:
      - operator: In
        values:
        - {{.MatchedPID}}
        isNamespacePID: {{.NamespacePID}}
      matchArgs:
      - index: 2
        operator: Equal
        values:
        - "5555" # magic value, see also sigkill-tester
      matchActions:
      - action: Sigkill
