apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-operator-config
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "tetragon-operator.labels" . | nindent 4 }}
data:
  skip-crd-creation: {{ .Values.tetragonOperator.skipCRDCreation | quote }}
  skip-pod-info-crd: {{ not .Values.tetragonOperator.podInfo.enabled | quote }}
