{{- if and .Values.tetragonOperator.enabled .Values.serviceAccount.create }}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{.Release.Name}}-operator
  labels:
  {{- include "tetragon-operator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - cilium.io
    resources:
      - podinfo
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  {{- if eq .Values.crds.installMethod "operator" }}
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - create
  {{- end }}
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    resourceNames:
      - tracingpolicies.cilium.io
      - tracingpoliciesnamespaced.cilium.io
      - podinfo.cilium.io
    verbs:
      - update
      - get
      - list
      - watch
  {{- include "operatorclusterrole.extra" . | nindent 2 }}
{{- end }}
