{{- if .Values.tetragonOperator.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-operator-config
  namespace: {{ .Release.Namespace }}
  labels:
  {{- include "tetragon-operator.labels" . | nindent 4 }}
data:
  {{- if eq .Values.crds.installMethod "operator" }}
  skip-crd-creation: "false"
  {{- else }}
  skip-crd-creation: "true"
  {{- end }}
  skip-pod-info-crd: {{ not .Values.tetragonOperator.podInfo.enabled | quote }}
  skip-tracing-policy-crd: {{ not .Values.tetragonOperator.tracingPolicy.enabled | quote }}
  force-update-crds: {{ .Values.tetragonOperator.forceUpdateCRDs | quote }}
  {{- include "operatorconfigmap.extra" . | nindent 2 }}
{{- end }}
