{{- if and .Values.tetragonOperator.enabled .Values.tetragonOperator.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "tetragon-operator.serviceAccount" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "tetragon-operator.labels" . | nindent 4 }}
  {{- with .Values.tetragonOperator.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
