capabilities-tester
fork-tester
namespace-tester
sigkill-tester
dup-tester
trigger-test-events
nop
sigkill-unprivileged-user-ns-tester
exit-leader
exit-tester
exit-code
libuprobe.so
uprobe-test-1
uprobe-test-2
lseek-pipe
threads-tester
bench-reader
threads-exit
enforcer-tester
enforcer-tester-32
/getcpu
drop-privileges
change-capabilities
direct-write-tester
user-stacktrace
pause
/test-helper
/raisesigkill
