name: BPF Unit Tests
on:
  pull_request:
    paths:
      - 'bpf/**'
      - '.github/workflows/bpf-unit-tests.yml'
  push:
    branches:
      - main
    paths:
      - 'bpf/**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-22.04, ubuntu-22.04-arm64 ]
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        # renovate: datasource=golang-version depName=go
        go-version: '1.25.6'

    - name: Install LLVM
      run: |
        sudo apt-get update
        sudo apt-get -y install clang llvm

    - name: Run BPF unit test
      run: make bpf-test BPFGOTESTFLAGS="-v"
