name: BPF Unit Tests
on:
  pull_request:
    paths:
      - 'bpf/**'
      - '.github/workflows/bpf-unit-tests.yml'
  push:
    branches:
      - main
    paths:
      - 'bpf/**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-22.04, ubuntu-22.04-arm64 ]
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        # renovate: datasource=golang-version depName=go
        go-version: '1.25.5'

    - name: Install LLVM
      run: |
        sudo apt-get update
        sudo apt-get -y install clang llvm

    - name: Run BPF unit test
      run: make bpf-test BPFGOTESTFLAGS="-v"
