name: BPF Unit Tests
on:
  pull_request:
    paths:
      - 'bpf/**'
      - '.github/workflows/bpf-unit-tests.yml'
  push:
    branches:
      - main
    paths:
      - 'bpf/**'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-22.04, ubuntu-22.04-arm64 ]
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        # renovate: datasource=golang-version depName=go
        go-version: '1.25.6'

    - name: Install LLVM
      run: |
        sudo apt-get update
        sudo apt-get -y install clang llvm

    - name: Run BPF unit test
      run: make bpf-test BPFGOTESTFLAGS="-v"
