name: Check images digest for multi-arch

on:
  pull_request:
    paths:
      - '**[dD]ockerfile**'
      - '.github/workflow/digestcheck.yaml'
      - 'contrib/digestcheck.sh'
      - '!**vendor**'

jobs:
  check:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        fetch-depth: 0   # because we also need the main branch

    - name: Install crane
      env:
        VERSION: "v0.15.2"
      run: |
        curl -sL "https://github.com/google/go-containerregistry/releases/download/$VERSION/go-containerregistry_Linux_x86_64.tar.gz" > go-containerregistry.tar.gz
        tar -zxvf go-containerregistry.tar.gz -C /usr/local/bin/ crane
      
    - name: Check digests
      env:
        TERM: xterm-color
        BASE_REF: ${{ github.base_ref }}
      run: git diff --name-only origin/$BASE_REF | xargs ./contrib/digestcheck.sh
