name: Validate that generated files are up to date
on:
  push:
    branches:
      - main
      - v*
  pull_request:

jobs:
  generated-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.17.8'
      - name: Validate that generated files are up to date.
        run: |
          make generate
          make codegen
          test -z "$(git status --porcelain)"
          if [ $? != 0 ]; then
            git status --porcelain
            echo "Please run 'make generate && make codegen' and submit your changes."; exit 1
          fi
