name: Validate that generated files are up to date
on:
  push:
    branches:
      - master
      - v*
  pull_request:

jobs:
  generated-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.17.8'
      - name: Validate that generated files are up to date.
        run: |
          make generate
          make codegen
          test -z "$(git status --porcelain)" || (git status --porcelain; exit 1)
