name: Validate that generated files are up to date
on:
  push:
    branches:
      - main
      - v*
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'

jobs:
  generated-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Install Go
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          # renovate: datasource=golang-version depName=go
          go-version: '1.21.1'
      - name: Validate that generated files are up to date.
        run: |
          make generate
          make codegen
          test -z "$(git status --porcelain)"
          if [ $? != 0 ]; then
            git status --porcelain
            echo "Please run 'make generate && make codegen' and submit your changes."; exit 1
          fi
