name: Tetragon Go Test
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40
    strategy:
      matrix:
        os: [ ubuntu-20.04 ]
    steps:
    - name: Install Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.17.8'

    - name: Checkout code
      uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      with:
        path: go/src/github.com/cilium/tetragon/

    - name: Install dependencies
      run: |
        sudo apt-get install libelf-dev netcat-traditional libcap-dev gcc

        cd go/src/github.com/cilium/tetragon/
        sudo -E make tools-install LIBBPF_INSTALL_DIR=/usr/local/lib
        sudo -E ldconfig /usr/local/

        sudo sed -i '/secure_path/d' /etc/sudoers
        sudo sed -i '/env_reset/d' /etc/sudoers

        echo `which clang`
        echo `which llc`
        echo `clang --version`


    - name: Ensure BPF programs pass verifier
      run: |
        cd go/src/github.com/cilium/tetragon/
        make verify

    - name: Increase open file descriptors limit
      run: echo fs.file-max=1048576 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

    - name: Run go tests
      env:
        GOPATH: /home/runner/work/tetragon/tetragon/go
      run: |
        cd go/src/github.com/cilium/tetragon/
        make check-copyright
        sudo make tetragon-bpf
        sudo -E echo "run go tests: " `uname -a`
        sudo -E go mod verify
        sudo -E GO111MODULE=off go get -u golang.org/x/lint/golint
        export TETRAGON_LIB=$(realpath "bpf/objs/")
        sudo -E make tester-progs
        sudo -E make test

    - name: Upload Tetragon logs
      if: failure()
      uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
      with:
        name: tetragon-json
        path: /tmp/tetragon.gotest*
        retention-days: 5

    - name: Upload bugtool dumps
      if: failure()
      uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
      with:
        name: tetragon-bugtool
        path: /tmp/tetragon-bugtool-*
        retention-days: 5
