name: Tetragon Go Test
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04, ubuntu-24.04-arm64 ]
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        path: go/src/github.com/cilium/tetragon/

    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        # renovate: datasource=golang-version depName=go
        go-version: '1.25.5'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install libelf-dev netcat-traditional libcap-dev gcc pahole llvm

        sudo sed -i '/secure_path/d' /etc/sudoers
        sudo sed -i '/env_reset/d' /etc/sudoers

        echo `which clang`
        echo `which llc`
        echo `clang --version`


    - name: Install dependencies x86
      run: |
        sudo apt-get -y install libc6-dev-i386
      if: ${{ matrix.os == 'ubuntu-24.04' }}

    - name: Install dependencies ARM
      run: |
        sudo apt-get -y install gcc-arm-linux-gnueabihf
      if: ${{ matrix.os == 'ubuntu-24.04-arm64' }}

    - name: Install bpftool
      uses: mtardy/setup-bpftool@9bc044304197616a6321d452e04cc059e006d8e2 # v1.0.4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Ensure BPF programs pass verifier
      run: |
        cd go/src/github.com/cilium/tetragon/
        make verify

    - name: Run go tests
      env:
        GOPATH: ${{ env.GITHUB_WORKSPACE }}/go
        SUDO: sudo -E
      run: |
        go clean -cache -modcache -testcache -fuzzcache
        cd go/src/github.com/cilium/tetragon/
        sudo -E echo "run go tests: " `uname -a`
        sudo -E go mod verify
        export TETRAGON_LIB=$(realpath "bpf/objs/")
        make test GO_TEST_TIMEOUT=40m

    - name: Upload Tetragon logs
      if: failure()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: tetragon-json-${{ matrix.os }}
        path: /tmp/tetragon.gotest*
        retention-days: 5

    - name: Upload bugtool dumps
      if: failure()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: tetragon-bugtool-${{ matrix.os }}
        path: /tmp/tetragon-bugtool*
        retention-days: 5

    - name: Upload vmlinux file
      if: failure()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: btf-vmlinux-${{ matrix.os }}
        path: /sys/kernel/btf/vmlinux
        retention-days: 5

  build_windows:
    runs-on: windows-latest
    timeout-minutes: 40
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        path: go/src/github.com/cilium/tetragon/

    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        # renovate: datasource=golang-version depName=go
        go-version: '1.25.5'

    - name: Run go tests
      working-directory: ${{ github.workspace }}\go\src\github.com\cilium\tetragon
      run: |
        go test --failfast .\pkg\... .\cmd\...
