name: Tetragon Go Test
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04, actuated-arm64-4cpu-8gb ]
    steps:
    - name: Checkout code
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      with:
        path: go/src/github.com/cilium/tetragon/

    - name: Install Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
      with:
        go-version-file: 'go/src/github.com/cilium/tetragon/go.mod'

    - name: Install dependencies x86
      with:
        platforms: linux/amd64
      run: |
        sudo apt-get -y install libc6-dev-i386

    - name: Install dependencies
      run: |
        sudo apt-get -y install libelf-dev netcat-traditional libcap-dev gcc

        sudo sed -i '/secure_path/d' /etc/sudoers
        sudo sed -i '/env_reset/d' /etc/sudoers

        echo `which clang`
        echo `which llc`
        echo `clang --version`

    - name: Install bpftool
      uses: mtardy/setup-bpftool@adeab4f9332cc28db56064a93911860d0775665b # v1.0.3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Ensure BPF programs pass verifier
      run: |
        cd go/src/github.com/cilium/tetragon/
        make verify

    - name: Run go tests
      env:
        GOPATH: ${{ env.GITHUB_WORKSPACE }}/go
        SUDO: sudo -E
      run: |
        go clean -cache -modcache -testcache -fuzzcache
        cd go/src/github.com/cilium/tetragon/
        make check-copyright
        sudo -E echo "run go tests: " `uname -a`
        sudo -E go mod verify
        sudo -E GO111MODULE=off go get -u golang.org/x/lint/golint
        export TETRAGON_LIB=$(realpath "bpf/objs/")
        make test GO_TEST_TIMEOUT=40m

    - name: Upload Tetragon logs
      if: failure()
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
      with:
        name: tetragon-json
        path: /tmp/tetragon.gotest*
        retention-days: 5

    - name: Upload bugtool dumps
      if: failure()
      uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
      with:
        name: tetragon-bugtool
        path: /tmp/tetragon-bugtool*
        retention-days: 5
