name: Integration Test
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 40
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Set Up Job Variables
      id: vars
      run: |
        if [ ${{ github.event.issue.pull_request || github.event.pull_request }} ]; then
          PR_API_JSON=$(curl \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            ${{ github.event.issue.pull_request.url || github.event.pull_request.url }})
          SHA=$(echo "$PR_API_JSON" | jq -r ".head.sha")
        else
          SHA=${{ github.sha }}
        fi
        echo "sha=${SHA}" >> $GITHUB_OUTPUT
        echo "operatorImage=quay.io/cilium/tetragon-operator-ci:${SHA}" >> $GITHUB_OUTPUT

    - name: Install Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        # renovate: datasource=golang-version depName=go
        go-version: '1.25.5'

    - name: Create a Kind cluster
      run: |
        make kind

    - name: Pull Tetragon Images
      uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
      with:
        timeout_minutes: 2
        max_attempts: 30
        retry_wait_seconds: 30
        warning_on_retry: false
        command: |
          set -e
          docker pull ${{ steps.vars.outputs.operatorImage }}

    - name: Run go tests
      run: |
        helm upgrade --install tetragon ./install/kubernetes/tetragon -n kube-system \
          --set tetragonOperator.podInfo.enabled=true \
          --set tetragonOperator.image.override=${{ steps.vars.outputs.operatorImage }}
        kubectl rollout status -n kube-system deployment/tetragon-operator
        go test --tags=integration -v ./operator/... ./pkg/manager/...
