name: Tetragon e2e Test
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  clusterName: tetragon-ci
  ciliumCliVersion: v0.15.0

jobs:
  e2e-test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 40
    strategy:
      matrix:
        os: [ ubuntu-22.04, buildjet-4vcpu-ubuntu-2204-arm ]
    steps:
    - name: Checkout Code
      uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      with:
        path: go/src/github.com/cilium/tetragon/

    - name: Install Go
      uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
      with:
        # renovate: datasource=golang-version depName=go
        go-version: '1.21.1'

    - name: Set Up Job Variables
      id: vars
      run: |
        if [ ${{ github.event.issue.pull_request || github.event.pull_request }} ]; then
          PR_API_JSON=$(curl \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            ${{ github.event.issue.pull_request.url || github.event.pull_request.url }})
          SHA=$(echo "$PR_API_JSON" | jq -r ".head.sha")
        else
          SHA=${{ github.sha }}
        fi
        echo "sha=${SHA}" >> $GITHUB_OUTPUT
        echo "agentImage=quay.io/cilium/tetragon-ci:${SHA}" >> $GITHUB_OUTPUT
        echo "operatorImage=quay.io/cilium/tetragon-operator-ci:${SHA}" >> $GITHUB_OUTPUT

    - name: Install kubectl, kind and cilium CLI
      uses: alexellis/arkade-get@master
      with:
        kubectl: latest
        helm: v3.12.1
        kind: v0.20.0
        cilium: ${{ env.ciliumCliVersion }}
        print-summary: false

    - name: Pull Tetragon Images
      uses: nick-fields/retry@943e742917ac94714d2f408a0e8320f2d1fcafcd # v2.8.3
      with:
        timeout_minutes: 2
        max_attempts: 30
        retry_wait_seconds: 30
        warning_on_retry: false
        command: |
          set -e
          docker pull ${{ steps.vars.outputs.agentImage }}
          docker pull ${{ steps.vars.outputs.operatorImage }}

    - name: Run e2e Tests
      run: |
        cd go/src/github.com/cilium/tetragon

        make e2e-test E2E_BUILD_IMAGES=0 E2E_AGENT=${{ steps.vars.outputs.agentImage }} E2E_OPERATOR=${{ steps.vars.outputs.operatorImage }} EXTRA_TESTFLAGS="-cluster-name=${{ env.clusterName }} -args -v=4"

    - name: Upload Tetragon Logs
      if: failure() || cancelled()
      uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
      with:
        name: tetragon-logs
        path: /tmp/tetragon.e2e.*
        retention-days: 5
