name: Run static checks
on:
  push:
    branches:
      - main
      - v*
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'

jobs:
  static-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          fetch-depth: 0
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.18.3'
      - name: Run static checks
        uses: golangci/golangci-lint-action@08e2f20817b15149a52b5b3ebe7de50aff2ba8c5
        with:
          version: v1.52.2
          args: --config=.golangci.yml --verbose
          skip-cache: true
      - name: Check gofmt formatting
        run: |
          go fmt ./...
          git diff --exit-code || (echo "gofmt checks failed. Please run 'go -w fmt ./...', and submit your changes"; exit 1)
      - name: Check module vendoring
        run: |
          make vendor
          echo "git status --porcelain:" `git status --porcelain`
          test -z "$(git status --porcelain)" || (echo "Module vendoring checks failed. Please run 'make vendor', and submit your changes"; exit 1)
      - name: Build clang-format Docker image
        run: |
          docker build -f Dockerfile.clang-format -t "isovalent/clang-format:latest" .
      - name: Verify clang-format on BPF code
        id: clang_format
        run: |
          set -o pipefail
          find bpf -name '*.c' -o -name '*.h' -not -path 'bpf/include/vmlinux.h' \
            -not -path 'bpf/include/api.h' -not -path 'bpf/libbpf/*' | xargs -n 1000 \
            docker run -v $(realpath .):/tetragon "isovalent/clang-format:latest" --Werror -n -style=file
          if [ $? != 0 ]; then
            echo "clang-format checks failed. Please run 'make format' and submit your changes."; exit 1
          fi
      - name: Build CLI release binaries
        run: |
          make cli-release
      - name: Build Tarball
        run: |
          make tarball
