name: Run veristat
on:
  push:
    branches:
      - main
      - v*
    paths:
      - 'bpf/**'
  pull_request:
    paths:
      - 'bpf/**'

jobs:
  veristat:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build BPF programs
        run: make tetragon-bpf

      - name: Run veristat
        uses: mtardy/veristat-action@f8aaf0aff94a274fea229c37e1165b3083d43611 # v1.0.1
        with:
          programs: "bpf/objs/*.o"
