name: Run veristat
on:
  push:
    branches:
      - main
      - v*
    paths:
      - 'bpf/**'
  pull_request:
    paths:
      - 'bpf/**'

jobs:
  veristat:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Build BPF programs
        run: make tetragon-bpf

      - name: Run veristat
        uses: mtardy/veristat-action@f8aaf0aff94a274fea229c37e1165b3083d43611 # v1.0.1
        with:
          programs: "bpf/objs/*.o"
