name: vmtests
on:
  pull_request:
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'

jobs:
  build:
    name: Build tetragon
    runs-on: ubuntu-latest
    timeout-minutes: 20
    concurrency:
      group: ${{ github.ref }}-vmtest-build
      cancel-in-progress: true
    steps:
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.18.3'

    - name: Checkout code
      uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
      with:
        path: go/src/github.com/cilium/tetragon/

    - name: Install build dependencies
      run: |
        sudo apt install libelf-dev netcat-traditional libcap-dev gcc
        echo `which clang`
        echo `which llc`
        echo `clang --version`
    - name: Build
      env:
        GOPATH: /home/runner/work/tetragon/tetragon/go
      run: |
        cd go/src/github.com/cilium/tetragon/
        make tetragon-bpf tester-progs test-compile
        make -C tests/vmtests

    - name: Split tests
      run: |
        #  see testfile below
        cd go/src/github.com/cilium/tetragon/
        go run ./tools/split-tetragon-gotests -ci-run 1

    - name: tar build
      run: |
        cd go/src/github.com/cilium/
        tar cz --exclude='tetragon/.git' -f /tmp/tetragon.tar ./tetragon

    - name: upload build
      uses: actions/upload-artifact@v3
      with:
         name: tetragon-build
         path: /tmp/tetragon.tar
         retention-days: 5
  test:
    strategy:
        fail-fast: false
        matrix:
           kernel:
              - '5.15'
              - '5.10'
              - '5.4'
              - '4.19'
           group:
              - 0
    concurrency:
      group: ${{ github.ref }}-vmtest-${{ matrix.kernel }}-${{ matrix.group }}
      cancel-in-progress: true
    needs: build
    name: Test kernel ${{ matrix.kernel }} / test group ${{ matrix.group }}
    runs-on: ubuntu-latest-4cores-16gb
    timeout-minutes: 60
    steps:
    - name: Install VM test dependencies
      run: |
        sudo apt-get -qy update
        sudo apt-cache search qemu
        sudo apt-get -qy install mmdebstrap libguestfs-tools qemu-utils qemu-system-x86 cpu-checker qemu-kvm libvirt-daemon-system libvirt-clients bridge-utils virtinst virt-manager

    - name: Make kernel accessible
      run: |
        sudo chmod go+rX -R /boot/

    - name: download build data
      uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a
      with:
         name: tetragon-build

    - name: extract build data
      # NB: currently, due to how tests work, we need to extract to the same path.
      run: |
        mkdir -p go/src/github.com/cilium/
        tar xf tetragon.tar -C go/src/github.com/cilium

    - name: test kernel ${{ matrix.kernel }}
      if: ${{ matrix.kernel  != '4.19' }}
      run: |
        cd go/src/github.com/cilium/tetragon
        ./tests/vmtests/fetch-data.sh ${{ matrix.kernel }}
        sudo ./tests/vmtests/tetragon-vmtests-run \
                --kernel tests/vmtests/test-data/kernels/${{ matrix.kernel }}/boot/vmlinuz* \
                --base tests/vmtests/test-data/images/base.qcow2 \
                --testsfile ./tests/vmtests/test-group-${{ matrix.group }}

    - name: test kernel ${{ matrix.kernel }} with btf file
      if: ${{ matrix.kernel  == '4.19' }}
      run: |
        cd go/src/github.com/cilium/tetragon
        ./tests/vmtests/fetch-data.sh ${{ matrix.kernel }}
        sudo ./tests/vmtests/tetragon-vmtests-run \
                --kernel tests/vmtests/test-data/kernels/${{ matrix.kernel }}/boot/vmlinuz* \
                --btf-file tests/vmtests/test-data/kernels/${{ matrix.kernel }}/boot/btf-* \
                --base tests/vmtests/test-data/images/base.qcow2 \
                --testsfile ./tests/vmtests/test-group-${{ matrix.group }}

    - name: Chmod test results on failure or cancelation
      if: failure() || cancelled()
      run: |
        sudo chmod -R go+rX go/src/github.com/cilium/tetragon/tests/vmtests/vmtests-results-*

    - name: Upload test results on failure or cancelation
      if: failure() || cancelled()
      uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
      with:
        name: tetragon-vmtests-${{ matrix.kernel }}-${{ matrix.group }}-results
        path: go/src/github.com/cilium/tetragon/tests/vmtests/vmtests-results-*
        retention-days: 5
  post-test:
    runs-on: ubuntu-latest
    needs: [test]
    if: success()
    steps:
    - name: Create truncated build file
      run: |
        touch /tmp/tetragon.tar
    - name: Upload truncated file
      uses: actions/upload-artifact@v3
      with:
         name: tetragon-build
         path: /tmp/tetragon.tar
         retention-days: 1
